@{
    ViewData["Title"] = "About Us";
    ViewData["Message"] = "A little bit about us.";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<p>Application needed to keep track of all the 
    books that You have :-). <br> <b>Happy Reading</b></p>
