@{
    ViewData["Title"] = "Contact";
    ViewData["Message"] = "This is our contact information";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">Ph:</abbr>
    444.555.6666
 
    <strong>Complains:</strong> <a href="mailto:NotHappy@something.com"> NotHappy@something.com</a><br />
    <strong>Positive Feedback:</strong> <a href="mailto:CantbeBetter@somthing.com">CantbeBetter@somthing.com</a>
</address>
