@{
    ViewData["Title"] = "Book App Home Page";
}

<br>
<center><b><font size="8">Welcome to the BOOK APP</font> </b></center>
 
<br>
<p><center><font size="6"><b><i>What's on your shelf?</i></b></p></font></center>
<br>
 
<br><center>
<img src="~/images/shelves.jpg" alt="Shelves" style="width:480px;height:380px;"></center>

      